html {
    background-color: rgb(30,30,30);
    font-family: monospace;
}

header > h1 {
    color: white;
    font-size: 450%;
    margin: 20px 20px
}

.Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(78, 78, 78);
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px 0px;
    margin: 15px;
    
}

.Menu-item {
    color: white;
    background-color: rgb(48,48,48);
    text-align: center;
    white-space: nowrap;
    width: 100px;
    text-decoration: none;
    border: 2px solid rgb(255, 196, 0);
    border-radius: 10px;
    padding: 16px 36px;
    margin: 10px;
    
}

a.Menu-item:hover {
    border-color:white;
    background-color: rgb(78, 78, 78);
    transition: .2s ease;
}

.Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Content > figure > img {
    width: 200px;
}


.Description {
    color: white;
    align-content: center;
    text-align: justify;
    text-justify: inter-word;
}