h2 {
    margin-left: 20px;
}

h3 {
    margin-top: 2px;
    margin-bottom: 10px;
}

.Social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid white;
    border-radius: 1px;
    padding: 40px;
    margin: 0px 200px;
    transition: margin .4s ease-in-out, background-color .4s ease-in-out;
    transition-delay: 0s, .2s;   
}

.Social:hover {
    transition: margin .4s ease-in-out, background-color .4s ease-in-out;
    transition-delay: 0s, .2s;
    border-color: rgb(59, 180, 255);
    margin: 0px 20px;
    background-color: whitesmoke;   
}

.Social img {
    height: 60px;
    margin: 0px 25px;
    transition: transform .2s;
}

.Social img:hover {
    transform: scale(1.2);
}

.Contact-Information {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1px;
    padding: 20px;
    margin: 20px;
}

.Contact-Information a {
    text-decoration: none;
    color: rgb(255, 196, 0)
}

.Contact-Information a:hover {
    color:rgb(255, 232, 156);
}

.Message-Form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}

form {
    border: 2px solid white;
    border-radius: 1px;
    padding: 20px;
    margin: 0px 20px;
    font-size: larger;
    line-height: 150%;
}

#name, #phone, #email {
    width: 225px;
    height: 20px;
    transition: width .2s ease-in-out;
}

#name:hover, #phone:hover, #email:hover {    
    width: 300px;
}

textarea {
    width: 600px;
    height: 200px;
    resize: none; 
    transition: .2s ease;

}

#submit {
    padding: 5px 20px;
}


@media screen and (max-width: 900px) {
    .Social {
        margin: 0px 40px;
    }
    textarea {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .Social{
        flex-direction: column;
        align-items: flex-start;
    }
    .Social img {  
        height: 45px;  
    }

}