h2 {
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    margin-right: 40px;
}

pre h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 90%;
}

.Content {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(130, 213, 255);
    border-radius: 1px;
    margin: 10px 40px;
    padding: 40px;
    text-align: center;
    background: url("../Images/Backgrounds/blue-hexagon.png");
    background-size: cover;
    background-attachment: fixed;
    transition: border-color .2s ease;
}

.Content:hover {
    border-color: white;
    transition: .2s ease;
}

#Proficiency {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
}

#Invisible-BlockA {
    display: block;
    width: 0px;
}

#Invisible-BlockB {
    display: block;
    width: 175px;
}

.Skill {
    display: flex;
    flex-direction: column;
}

.Skill > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}

.Bar {
    height: 20px;
    width: 500px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;  
}

.Bar > span {
    display: block;
    background-color: rgb(255, 132, 0);
    height: 100%;
    border-radius: 2px
}

.Skill > div:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.Row {
    flex-direction: row;
    justify-content: space-evenly;
}

.Column {
    flex-direction: column;
    text-align: left;
}


@media screen and (max-width: 900px) {
    #Proficiency {
        justify-content: flex-start;
    }

    #Invisible-BlockA {
        width: 204px;
    }
    #Invisible-BlockB {
        width: 0px;
    }
}

@media screen and (max-width: 500px) {
    h3 {
        margin-right: 10px;
    }

    pre h3 {
        font-size: 60%;
    }

    #Proficiency {
        justify-content: flex-end;
    }
    #Proficiency h3 {
        margin-right: 0px;
    }
    #Invisible-BlockA {
        width: 0px;
    }
}