h2 {
    margin-left: 40px
}

.Content {
    display: flex;
    flex-direction: row;
    font-size: larger;
    border: 1px solid white;
    border-radius: 1px;
    padding: 10px;
    margin: 0px 40px;
    
}
