html.Education > body > .Content {
    display: flex;
    flex-direction: row;
    font-size: larger;
    border: 1px solid white;
    border-radius: 1px;
    padding: 10px;
    margin: 0px 40px;
    background: url("../Images/Backgrounds/black-hexagon.png");
    background-size: cover;
    background-attachment: fixed;
}

html.Education > body > .Content > figure img {
    width: 180px;
    background-color: white;
    border: 4px solid rgb(255, 196, 0);
    padding: 15px;
    transition: transform .2s;
}

html.Education > body > .Content > figure img:hover {
    transform: scale(1.05);
}


html.Education > body > .Content > .Details {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

html.Education > body > h2 {
    margin-left: 40px
}

html.Education > body > .Content > .Details h3 {
    margin-top: -4px;
    margin-bottom: 0px;
}

html.Education > body > .Content > .Details > p > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

html.Education > body > .Content > .Details > p {
    margin-top: 0px;
    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    html.Education > body > .Content > figure img {
        position: relative;
        right: 20px;
    }

    html.Education > body > .Content {
        flex-direction: column;
    }

}

@media screen and (max-width: 400px) {
    html.Education > body > h2 {
        margin-left: 40px;
    }
    html.Education > body > .Content {
        justify-content: center;
    }
    html.Education > body > .Content > figure img {
        right: 12px;
    }
}