h2 {
    margin-left: 40px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: rgb(255, 196, 0);
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    border: 1px solid white;
    border-radius: 1px;
    padding: 40px;
    margin: 0px 40px;
    background: url("../Images/Backgrounds/purple-hexagon.png");
    background-size: cover;
    background-attachment: fixed;

}

figcaption {
    font-size: 70%;
}

#Simp-City figure, .App-Project, #Adware figure {
    transition: transform .2s;
}

#Simp-City figure:hover, .App-Project:hover, #Adware figure:hover {
    transition: transform .2s;
    transform: scale(1.05);
}

#Simp-City img{
    min-width: 340px;
    max-width: 100%;
}

#Mobile-App figure {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 30px;
    margin: 0px 20px;
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
}

#Mobile-App img {
    min-width: 200px;
    max-width: 60%;
    margin: 0px 20px;
}

#Adware img{
    min-width: 340px;
    max-width: 100%;
}

@media screen and (max-width: 875px) {
    #Mobile-App figure {
        flex-direction: column;
        padding: 15px;
    }
}

@media screen and (max-width: 420px) {
    #Simp-City img{
        min-width: 100%;
        max-width: 220px;
    }

    #Adware img{
        min-width: 100%;
        max-width: 220px;
    }
}
